{% extends "layout/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="row justify-content-md-center align-middle">
  <div class="col-10">
    <a class="btn btn-primary m-2" href="/record/add">add a tomato</a>
    <a class="btn btn-success m-2" href="/record/finished">finished list</a>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">subject</th>
          <th scope="col" class="col-3">outline</th>
          <th scope="col">tomato</th>
          <th scope="col">operation</th>
        </tr>
      </thead>
      <tbody>
        {% for r in records %}
        <tr>
          <td>
            {{r.subject.category.name}}-{{r.subject.name}}
            <br>
            ceate at {{r.create_at.strftime('%m-%d %H:%M')}}
          </td>
          <td>{{r.outline}}</td>
          <td>
            tomato: <b>{{r.tomato_duration}}min/{{r.tomato_amount}}</b>
            <br>
            total: <b>{{r.tomato_amount*r.tomato_duration}}min</b>
          </td>
          <td><a class="btn btn-info" href="/record/enter/{{r.id}}">enter</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}